<div class="card">
  <div class="title">thru hiker log app</div>
  <div class="subtitle">by kevin bagnato</div>

  <button type="button" (click)="onCreate()">➕ start a new trail</button>

  @let trails = trails$ | async;
  @if (trails) {
    @for (trail of trails; track trail) {
      <div (click)="viewTrail(trail)" class="trail">
        {{ trail.name }}
      </div>
    } @empty {
      <p>No trails to display.</p>
    }
  } @else {
    <div>
      <!-- todo extract spinner comp from global overlay? or use skeletons? -->
      Loading...
    </div>
  }
</div>
