.container {
  display: flex;
}

.sidebar {
  width: 35rem;
  background-color: #B49898;
}

.content {
  margin: 0 auto;
}

.trail {
  padding: 1rem;
  margin: 1rem 0;
  background-color: #472E2E;
  color: white;
  font-family: sans-serif;
  font-size: 1.5rem;
}

.trail:hover {
  cursor: pointer;
  background-color: #924444;
}

.dropdown {
  display: flex;
  flex-direction: column;
  background: #f0f0f0;
  border: 1px solid #ddd;
  position: absolute;
  margin-top: 4px;
  padding: 4px;
  border-radius: 4px;
}