.title {
  font-size: 3rem;
  margin-bottom: 0rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.trail {
  border-radius: 2rem;
  padding: 3rem 1rem;
  margin: 1rem 0;
  background-color: #472E2E;
  color: white;
  font-family: sans-serif;
  font-size: 1.5rem;
}

.trail:hover {
  cursor: pointer;
  background-color: #924444;
}