@let trail = trail$ | async;
@if (trail) {
  <button type="button" (click)="goHome()">🏠 Home</button>
  
  <div class="card details">
    <div>
      <div class="trail-name">
        {{ trail.name }}
      </div>
      {{ trail.location }} <br /><br />

      <div>
        <span class='label'>Description:</span>{{ trail.description }}
      </div>
    </div>
    
    <div>
      <div class='detail'><span class='label'>Start Date:</span>{{ trail.startDate | date : 'longDate' }}<br /></div>
      <div class='detail'><span class='label'>End Date:</span>{{ trail.endDate | date : 'longDate' }}<br /></div>
      <div class='detail'><span class='label'>Total Distance:</span>{{ trail.length }} {{trail.lengthType }}<br /></div>
      <div class='detail'><span class='label'>Gear List:</span>{{ trail.gearListUrl }}<br /></div>
      <!-- TODO add these fields -->
      <!-- Total Elevation Gain: {{ trail.totalElevationGain }} ft<br />
      Total Elevation Loss: {{ trail.totalElevationLoss }} ft<br /> -->
    </div>

    <div class="trail-btns">
      <button type="button" (click)="goToEditTrail()">✏️ Edit Trail</button>
      <button type="button" (click)="deleteTrail()">🗑️ Delete Trail</button>
    </div>
  </div>
  
  @if (trail.entries) {    
    <button type="button" (click)="goToAddEntry()" class="center">➕ Add Entry</button>

    <div class="search">
      <input type="text" placeholder="Search entries..." disabled class="disabled"/>
    </div>

    @for (entry of trail.entries; track entry.id) {
      <div class="card entry">
        <!-- entry buttons -->
        <div class="float-right">
          <button type="button" (click)="goToEditEntry(entry.id!)">✏️ Edit</button>
          <button type="button" (click)="deleteTrail()">🗑️ Delete</button>
        </div>

        <div class="header">
          Day {{ entry.daysFromStart }} - 
      
          <span>{{ entry.name }}</span>
          <br/>
          </div>
          
          <div>
          {{ entry.startTime | date : 'mediumDate' }},
          {{entry.startTime | date : 'shortTime'}} to {{ entry.endTime | date : 'shortTime' }}
        </div>
        <div>Distance: {{ entry.endMileage - entry.startMileage }} miles</div>
        <!-- <div>Elevation Gain: {{ entry.elevationGain }} ft</div>
        <div>Elevation Loss: {{ entry.elevationLoss }} ft</div>
        <div>Location: {{ entry.location }}</div>
        <div>Weather: {{ entry.weather }}</div> -->
        <br/>
        <div>
          Notes:
          {{ entry.notes }}
        </div>
      </div>
    } 

    <div>
      <!-- TODO add pagination <br/> -->
      <!-- <button type="button" (click)="previousPage()" [disabled]="pageNumber === 1">◀ Previous</button>
      <button type="button" (click)="nextPage()" [disabled]="(trail.entries.length < pageSize)">Next ▶</button>
      Page {{ pageNumber }} <br/> -->
      <button type="button" disabled class="disabled">◀ Previous</button>
      Page 1 
      <button type="button" disabled class="disabled">Next ▶</button>
    </div>
  } @else {
   <div>you have no entries for this trail</div>
  }

  } @else {
    <!-- loading trail -->
    <div>Loading...</div>
}

<!-- todo add footer? -->
