body {
  background-color: #D9D9D9;
  font-size: 1.5rem;
  color: #472e2e;
  font-family: sans-serif;
}

/* general styles */
.float-right {
  float: right;
}

.disabled {
  cursor: not-allowed;
}

/* page components */
.name {
  margin: 3rem 1rem;
  font-weight: bold;
  font-family: sans-serif;
}

.card {
  border-style: outset;
  border-radius: 1rem;
  padding: 1rem;
  overflow: auto;
}

.form {
  width: max-content;
  line-height: 2rem;
}

.form button {
  margin-right: 1rem;
}

button {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #924444;
  color: white;
}
