.name {
  margin: 3rem 1rem;
  font-weight: bold;
  font-family: sans-serif;
}

.card {
  border-style: outset;
  border-radius: 1rem;
  padding: 1rem;
}

.form {
  width: max-content;
  line-height: 2rem;
}

.form button {
  margin-right: 1rem;
}